*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background: url(./pictures/fylo-data/bg-desktop.png);
    background-position: 0 45vh;
    background-repeat: no-repeat;
    max-width: 1200px;
    max-height: 45vh;
    background-size: cover;
    background-color: hsl(229, 57%, 11%);
}


.big-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    margin-left: 25%;
    width: 85%;
    height: 25vh;
}

.container-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    height: 25vh;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 130px 10px 10px;
    padding-left: 40px;
}


.svgs{
    width: 190px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.svg-1, .svg-2, .svg-3{
    width: 50px;
    height: 50px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    text-align: center;
}

.svg-1:hover, .svg-2:hover, .svg-3:hover{
    cursor: pointer;
    background-color: hsl(230, 30%, 23%);
}


.svg-1 img{
    padding: 12px 0 0 0;
}

.svg-2 img{
    padding: 13px 0 0 0;
}

.svg-3 img{
    padding: 16px 0 0 0;
}


.container-2{
    width: 700px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    margin-left: 30px;
    height: 20vh;
    margin-top: 4.2%;
    position: relative;
}

.small-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-top: 40px;
    padding-left: 5px;
}

.text-container{
    width: 530px;
}


.text-container h3{
    color : hsl(229, 7%, 55%);
    font-weight: 400;
}

.text-container span{
    font-weight: 700;
    color: hsl(243, 100%, 93%);
}

.bar{
    background-color: hsl(227, 25%, 18%);
    height: 2vh;
    width: 530px;
    border-radius: 50px;
    margin-top: 30px;
    
}

.bar-1{
    height: 2vh;
    width: 400px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 50px;
    border: 2px solid hsl(229, 57%, 11%);
}

.bar-1 .ball{
    background-color: hsl(243, 100%, 93%);
    height: 98%;
    width: 3.3%;
    border-radius: 50%;
    margin-left: 383.5px;
    transition: transform  1.3s ease;
}

.bar-1 .ball:hover{
    cursor: pointer;
    background-color: palevioletred;
    transform: scale(1.6);
}

.gb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 520px;
    color: hsl(243, 100%, 93%);

}



.comment-container-2{
    position: absolute;
    left: 50%;
    top: 78%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: unset;
    right: 3rem;
    top: -60%;
}

.text{
    background-color: white;
    padding: 1.2rem 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    left: 0;
    position: relative;
    border-bottom-right-radius: 0;
}

.text h1{
    font-size: 4rem;
    color: hsl(229, 57%, 11%);
}

.text .gb-left{
    color: hsl(229, 7%, 55%);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-left: 0.8rem;
    white-space: nowrap;
}   

.triangle{
    display: block;
    width: 0;
    height: 0;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
}